In [2]:
import pandas as pd
df = pd.read_csv("Desktop/datasets/Bankrupt.csv")

In [4]:
df.head()

   Status   CF/TD   NI/TA   CA/CL   CA/NS
0       1 -0.4485 -0.4106  1.0865  0.4526
1       1 -0.5633 -0.3114  1.5134  0.1642
2       1  0.0643  0.0156  1.0077  0.3978
3       1 -0.0721 -0.0930  1.4544  0.2589
4       1 -0.1002 -0.0917  1.5644  0.6683

In [5]:
df.tail()

    Status   CF/TD   NI/TA   CA/CL   CA/NS
41       0  0.5603  0.1112  4.2918  0.4443
42       0  0.2029  0.0792  1.9936  0.3018
43       0  0.4746  0.1380  2.9166  0.4487
44       0  0.1661  0.0351  2.4527  0.1370
45       0  0.5808  0.0371  5.0594  0.1268